@import url('https://fonts.googleapis.com/css2?family=Murecho&display=swap');
html{

    font-size: 16px;
    font-family: 'Murecho', sans-serif;
}

a{

    color: orange;
    padding: 10px;
   

}

#header
{ 
    position: relative;
    background-image: url("images/banner.jpg");
    background-position: center;
    height: 250px;   
}
ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.title
{   
    position: absolute;
    left:30%;
    top: 15%;
    width: 40%;
    height: 70%;
    text-align: center;
    background-color: bisque;
}

.section img{
    display: block;
   
    margin: 30px;
    width: 500px;
    
}

#main
{
    display: inline-block;
    text-align: left;
    margin: 50px;
    position: relative;
    left:12%;
 
}

.section {
    
    display:flex;
    background-color: rgb(108, 190, 186);
    margin: 40px;
    filter: drop-shadow(5px 5px 6px grey);
    justify-content: center;
    
}

.section:hover
{
    background-color: bisque;
}
.text{
    
   
    height:300px;
    

}

.text h3{
   
    color: orange;
    font-size: 40px;
}

#footer
{
    background-color: bisque;
    display: flex;
    
}

#footer div{
    padding: 20px;
}

input
{
    display: flex;
    color: orange;
    position: relative;
    padding: 20px;
    justify-content: center;
    background-color: beige;
    border-radius: 5%;
    left: 40%;
    height: 200px;
    font-size: 50px;
    width: 230px;
    margin: 40px;

}